Language: Cpp

BasedOnStyle: Google

ColumnLimit: 120

UseTab: Never
IndentWidth: 4

BreakBeforeBraces: WebKit

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AlignAfterOpenBracket: DontAlign
# Align: foo(arg1,
#            arg2);
#
# DontAlign: foo(arg1,
#            arg2);
#
# AlwaysBreak: foo(
#            arg1, arg2);

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline

AlignOperands: true

IndentCaseLabels: true

NamespaceIndentation: None

PointerAlignment: Right

MaxEmptyLinesToKeep: 1

AccessModifierOffset: -4

BreakConstructorInitializers: BeforeColon

IncludeBlocks: Regroup

IncludeCategories:
    # - Regex:    '<.*[^\.][^h]>'
    #   Priority: 1
    # - Regex:    '<.*\.h>'
    #   Priority: 2
    # - Regex:    '^"[^f][^i][^t][^\_].*"'
    #   Priority: 3
    # - Regex:    '^"fit\_.*"'
    #   Priority: 4
  - Regex: '^".*'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true

AlignEscapedNewlines: Left
AlignTrailingComments: true

AllowAllConstructorInitializersOnNextLine: true

SpacesInParentheses: false

BinPackArguments: false
BinPackParameters: false
